.company {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.about-company {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem 0;
    color: #0e3047;
}

.perfil-social-company {
    display: flex;
    flex-direction: column;
}