

/*
    FUENTES
*/
.p-descr{
    margin: 0;
}
.h2-cargo{
    font-size: 20px;
}


/*
    SECCIONES
*/
.puestos_trabajos{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.banner{
    margin-bottom: 20px;
}

.search_job{
    margin-bottom: 50px;
}
.search_job_-input{
    width: 50%;
    border-radius: 8px;
    border: none;
    padding: 8px 17px;
    background-color: #ecf1f4;
}

.jobs{
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}
.job{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ecf1f4;
    padding: 15px;
    border-radius: 8px;
}
.job_info{
    display: flex;
}
.job_descr{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.job_tec{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.img-job{
    margin-right: 15px;
    border-radius: 8px;
}

@media screen and (min-width: 1180px) and (max-width:1290px){
    .jobs{
        margin-right: 15px;
        margin-left: 15px;
    }
}
@media screen and (min-width: 640px) and (max-width:1180px){
    .jobs{
        grid-template-columns: auto;
        margin-right: 15px;
        margin-left: 15px;
    }
}
@media screen and (max-width:640px){
    .jobs{
        grid-template-columns: auto;
        margin-right: 15px;
        margin-left: 15px;
    }
}