.form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background: #eee;
}

.tarjeta12 {
  background: #fff;
  margin: 1.5rem;
  height: 70%;
  width: 50%;
  border-radius: 30px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.left_Emp {
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right_Emp {
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boton_Emp {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boton_Emp button {
  background-color: #10828c;
  color: #e9f8e4;
  font-size: 30px;
  height: 50%;
  width: 70%;
  border: none;
  border-radius: 15px;
  margin: 2rem 0 2rem 0;
  cursor: pointer;
}
.a_Emp {
  margin-top: 30px;
  height: 10%;
  width: 80%;
}
.a_Emp input {
  width: 100%;
}
.width_select select {
  width: 100%;
  height: 60%;
  border-radius: 15px;
  margin-top: 18px;
}
.doc_Emp {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.doc_Emp select {
  width: 90%;
  margin-top: 20px;
  margin-right: 10px;
  height: 30px;
<<<<<<< HEAD
border-radius:15px ;
}
.a_Emp button{
  border: none;
  position: absolute;
  margin-top: 25px;
  margin-left:-55px ;
}
main{
  display: flex;
 justify-content: space-around;
}

main>img{
height: 600px;
border-radius: 30px;
}
=======
  border-radius: 15px;
}

@media screen and (max-width: 760px) {
  .form-content {
    width: 100%;
  }
  .tarjeta12 {
    width: 100% !important;
    height: auto !important;
    margin: 0;
    border-radius: 0;
    border: none;
  }
  .left_Emp,
  .right_Emp {
    width: 80%;
  }
  .a_Emp {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
>>>>>>> main
