.HomePage {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.headerHome {
    flex-shrink: 2;
}

.outletHome {
    display: flex;
    flex-grow: 2;
    /* justify-content: center; */

    flex-direction: column;
    /* flex-shrink: 4; */
    /* flex-basis: 100vh; */
}

