@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,500&display=swap');

.main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.principal{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-container{
    width: 50%;
    height: auto;
    min-width: 310px;
    max-height: 500px;
    position: relative;
}

.principal > .img-container:nth-child(1){
    background-color: rgb(16,130,140,0.6);
}

.principal > .img-container:nth-child(2){
    background-color: #F8F5E4;
    background-color: rgb(16,130,140,0.4);
}

.link-buttons{
    color: #fff;
    text-decoration: none;
}

.btn-1-principal{
    width: 180px;
    padding: 12px 20px;
    border: none;
    font-size: 20px;
    border-radius: 30px;
    color: #fff;
    background-color: rgb(0,0,0,0.7);
    position: absolute;
    right: 45%;
    top: 50%;
}

.btn-1-principal:hover{
    background-color: rgb(157,39,186,0.7);
    color: #FFD700;
    transform: scale(1.2);
    border: none;
}

.btn-2-principal{
    width: 180px;
    padding: 12px 20px;
    border: none;
    font-size: 20px;
    border-radius: 30px;
    color: #fff;
    background-color: rgb(0,0,0,0.7);
    position: absolute;
    left: 50%;
    top: 50%;
}

.btn-2-principal:hover{
    background-color: rgb(157,39,186,0.7);
    color: #FFD700;
    transform: scale(1.2);
    border: none;
}

.img-container img{
    width: 100%;
    height: 100%;
}

.content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-left, .content-rigth{
    width: 50%;
    height: 300px;
    min-width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.content-title{
    width: 70%;
    margin: 0;
    font-size: 30px;
    padding: 15px 0;
    color: #9D27BA;
    font-weight: bolder;
    text-transform: uppercase;
}

.content-title-1{
    background-color: rgb(16,130,140,0.6);
}

.content-title-2{
    background-color: rgb(16,130,140,0.4);
}

.content-text{
    width: 60%;
    margin: 0;
    height: 200px;
    font-size: 20px;
    color: #FFF;
    /* font-weight: bolder; */
    font-weight: 500;
    font-style: italic;
    color: #eee;
}

.home-about-us{
    width: 100%;
    height: auto;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title{
    font-size: 36px;
    text-align: center;
    line-height: 1.2;
    color: #9D27BA;
}

.about-text{
    font-size: 18px;
    line-height: 1.2;
    text-align: start;
    width: 80%;
    padding: 10px 0;
}

/* homepage */

.homepage-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage-title{
    color: #9D27BA;
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}

.homepage-title-2{
    text-align: center;
    font-size: 36px;
    margin: 20px 0;
}

.homepage-card-wrapper{
    width: 90%;
    height: 390px;
    display: flex;
    justify-content: space-around;
}

.homepage-card-container{
    width: 30%;
}

.homepage-img-container{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #10828C;
}

.homepage-img-container img{
    width: 80%;
    height: 80%;
}

.homepage-card-divider{
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.homepage-card-title{
    font-size: 22px;
}

.homepage-card-text{
    font-size: 18px;
}


.testimonials{
    width: 80%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #FFF;
}

/*  diferenciales content   */

.home-diferenciales{
    width:40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
    margin-top: 1rem;
}

.diferenciales-title{
    font-size: 36px;
    text-align: center;
    line-height: 1.2;
    color: #9D27BA;
    margin-bottom: 20px;
}

.home-list-1{
    width: 80%;
    height: auto;
}

.diferenciales-list{
    text-align: start;
}

.diferenciales-item{
    font-size: 18px;
    line-height: 1.2;
    text-align: start;
    width: 90%;
    padding: 10px 0;
    font-size: 20px;
    margin: 1rem 0 1rem 0;
}

/*  end diferenciales item  */

.testimonials h2{
    color: #9D27BA;
    text-align: center;
    margin: 10px 0;
    font-size: 30px;
    font-weight: bolder;
}

.testimonials p{
    color: #000;
    text-align: center;
    font-size: 44px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.card-containers{
    width: 550px;
    height: 600px;
    
}

.card-carrousels{
    display: flex;
    justify-content: space-around;
    
}

.movements{
    display: flex;
    justify-content: center;
}

.testimonials .cards{
    width: 500px;
    height: 600px;
    min-height: 300px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #10828C;
    filter: drop-shadow(8px  8px 6px #0f0f0f);
}

.testimonials .cards p{
    color: #fff;
    font-size: 18px;
    
}

.testimonials .cards .card-star{
    color: #FFD700;
    font-size: 24px;
}

.cards-img{
    border-radius: 50%;
}

.card-text-1{
    width: 70%;
}

.partners-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.partners-wrapper{
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.partners-text-container{
    width: 50%;
    height: auto;
}

.partners-text-container h2, .partners-text-container h3, .partners-text-container p{
    width: 80%;
}

.partners-text-container h2{
    font-size: 20px;
    color: #9D27BA;
    margin-right: 0;
}

.partners-text-container h3{
    width: 90%;
    font-size: 36px;
    margin-right: 0;
}

.partners-text-container p{
    font-size: 16px;
}


.partners-img-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #E9E9E9;
    border-radius: 40px;
}

.partners-img-container .img-container-1{
    display: flex;
}

.partners-img-container .img-container-1 div{
    width: 25%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partners-img-container .img-container-1 div img{
    width: 80%;
    height: 80%;
    filter: grayscale(1);
    cursor: pointer;
}

.partners-img-container .img-container-1 div img:hover{
    filter: grayscale(0);
}

.home-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.home-contacto h2{
    text-align: center;
    font-size: 36px;
    color: #9D27BA;
    margin-bottom: 20px;
}

.contact-modal{
    display: none;
    place-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(0,0,0, 0.75);
    position: absolute;
    z-index: 4;
}

.contact-text-container{
    width: 90%;
    padding: 20px;
    display: flex;
}

.contact__form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__inputs--1{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.contact__label--1{
    width: 46%;
    height: 100%;
}

.contact-name{
    width: 95%;
    height: auto;
    padding: 4px 0 18px 2px;
    border: none;
    border-bottom: 2px solid #9D27BA;
    outline: none;
}

.contact__label--2{
    width: 46%;
    height: 100%;
}

.contact__label--3{
    width: 46%;
    height: 100%;
}

.contact__label--4{
    width: 46%;
    height: 100%;
}

.contact-email{
    width: 95%;
    height: auto;
    padding: 4px 0 18px 2px;
    border: none;
    border-bottom: 2px solid #9D27BA;
    outline: none;
}

.contact__inputs--2{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.contact-business{
    width: 95%;
    height: auto;
    padding: 4px 0 18px 2px;
    border: none;
    border-bottom: 2px solid #9D27BA;
    outline: none;
}



.contact-telephone{
    width: 95%;
    height: auto;
    padding: 4px 0 18px 2px;
    border: none;
    border-bottom: 2px solid #9D27BA;
    outline: none;
}

.text-area{
    width: 100%;
    height: 30%;
    border: none;
    border-bottom: 2px solid #9D27BA;
    margin-top: 10px;
    margin-bottom: 20px;
    outline: none;
}

.contact__btn--container{
    margin: 15px 0;
}

.contact__btn--submit{
    width: 100px;
    height: auto;
    padding: 8px 15px;
    border: none;
    border: 3px solid #9D27BA;
    background-color: #fff;
    border-radius: 8px;
    color: #9D27BA;
    margin-right: 15px;
}

.contact__btn--submit:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.contact-container{
    margin-left: 20px;
}

.contact-container p{
    text-align: start;
    font-size: 18px;
    line-height: 1.2;
    padding: 10px 0;
}

.hidden{
    display: none !important;
}

.visible{
    display: grid !important;
}

.contact-text-wrapper{
    width: 100%;
    margin: 15px 0;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-show{
    width: 70%;
    height: 500px;
    position: relative;
    background-color: rgb(16,130,140,0.75);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    border-radius: 30px;
}

.contact-image-container{
    width: 60%;
    height: 70%;
    border-radius: 30px;
    position: absolute;
    transform: translate(-115%,0);
}

.contact-image{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.contact-show-text{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-show-text h2{
    font-size: 46px;
    color: #0E3047;
}

.contact-show-text p{
    font-size: 22px;
    color: #fff;
    text-align: center;
}

.contact-show-btn-container{
    width: 100%;
    height: auto;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.contact-show-text button{
    width: 190px;
    height: 50px;
    padding: 8px 15px;
    border-radius: 20px;
    border: 4px solid #9D27BA;
    background-color: transparent;
    color: #9D27BA;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.contact-show-text button:hover{
    transform: scale(1.2);
}

.login-header-menu {
    display: none;
}

@media screen and (max-width:760px) {
    .testimonials {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .testimonials-home-container {
        max-width: 100%;
    }
    
    .card-containers {
        width: 100%;
    }

    .card-carrousels {
        width: 90%;
        margin: 0 auto;
        font-size: 14px;
    }
    .testimonials .cards{
        min-height: 300px !important;
    }
    .home-contacto {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .about-text {
        text-align: center !important;
    }
    .contact-wrapper {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .map-container {
        max-width: 100%;
        
    }
    .iframe-map {
        max-width: 100%;
        min-height: 300px;
    }
    .content-left,
    .content-rigth {
        text-align: center;
        width: 100%;
        height: auto;
        padding: 1rem 0 1rem 0;
    }
    .content-text {
        letter-spacing: .2px;
        line-height: 1.1;
        width: 90%;
        height: auto;
    }
    .content-title {
        padding-top: 0;
    }
    .home-diferenciales {
        margin: 0;
        width: 100%;
    }

    .partners-text-container{
        width: 100%;
        margin-bottom: 15px;
    }
    
    .partners-img-container{
        width: 100%;
    }

    .partners-text-container h2, .partners-text-containerr h3, .partners-text-container p{
        width: 100%;
    }

    .partners-text-container h2{
        font-size: 16px;
    }

    .partners-text-container h3{
        font-size: 24px;
    }

    .homepage-title{
        font-size: 20px;
        margin: 10px 0;
    }

    .homepage-title-2{
        font-size: 26px;
        margin: 10px 0;
        margin-bottom: 15px;
    }

    .homepage-img-container{
        width: 80px;
       
    }

    .homepage-card-title{
        text-align: center;
        font-size: 16px;
        margin: 15px 0;
    }

    .homepage-card-text{
        text-align: center;
        font-size: 12px;
    }

    .homepage-card-wrapper{
        width: 95%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .homepage-card-container{
        width: 100%;
        height: 215px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-text-container{
        width: 100%;
    }

    .contact-text-wrapper{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
    }

    .contact-show{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .contact-image-container{
        display: none;
    }

    .contact-show-text{
        width: 95%;
    }

    .contact-show-text h2{
        font-size: 26px;
    }
    
    .contact-show-text p{
        font-size: 16px;
    }
    
    .contact-text-container{
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .contact__form{
        width: 90%;
    }
   
}