@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,500&display=swap');

.main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.principal{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-container{
    width: 50%;
    height: auto;
    min-width: 310px;
    max-height: 500px;
    position: relative;
}

.principal > .img-container:nth-child(1){
    background-color: rgb(16,130,140,0.6);
}

.principal > .img-container:nth-child(2){
    background-color: #F8F5E4;
}

.btn-1-principal{
    width: 160px;
    padding: 12px 20px;
    border: none;
    font-size: 20px;
    border-radius: 30px;
    color: #fff;
    background-color: rgb(0,0,0,0.7);
    position: absolute;
    right: 45%;
    top: 50%;
}

.btn-1-principal:hover{
    background-color: rgb(157,39,186,0.7);
    color: #FFD700;
    transform: scale(1.2);
    border: none;
}

.btn-2-principal{
    width: 160px;
    padding: 12px 20px;
    border: none;
    font-size: 20px;
    border-radius: 30px;
    color: #fff;
    background-color: rgb(0,0,0,0.7);
    position: absolute;
    left: 50%;
    top: 50%;
}

.btn-2-principal:hover{
    background-color: rgb(157,39,186,0.7);
    color: #FFD700;
    transform: scale(1.2);
    border: none;
}

.img-container img{
    width: 100%;
    height: 100%;
}

.content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(249,115,0);
}

.content-left, .content-rigth{
    width: calc( 50% - 1px );
    height: 250px;
    min-width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-left{
    border-right: 2px solid #F8F5E4;
}

.content-title{
    width: 70%;
    margin: 0;
    padding: 8px 0;
    color: #9D27BA;
    font-weight: bolder;
}

.content-text{
    width: 60%;
    margin: 0;
    height: 200px;
    color: #fff;
    font-weight: bolder;
}

.testimonials{
    width: 100%;
    height: auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #10828c;
}

.testimonials h2{
    color: #9D27BA;
    text-align: center;
    margin: 10px 0;
    font-size: 24px;
    font-weight: bolder;
}

.testimonials p{
    color: #fff;
    text-align: center;
    font-size: 34px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.card-containers{
    width: 70%;
    height: 600px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    position: relative;
    /*overflow: hidden;*/
    background-color: rgb(16,120,120);
    
}

.card-carrousels{
    display: flex;
    justify-content: space-around;
    /*flex-wrap: wrap;*/
    /*  completar una logica parecida  */
    transition: all 0.5s ease;
}

.movements{
    display: flex;
    justify-content: center;
}

.testimonials .cards{
    width: 500px;
    height: 600px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0f0f0f;
}

.testimonials .cards p{
    color: #fff;
    font-size: 18px;
    
}

.testimonials .cards .card-star{
    color: #FFD700;
    font-size: 24px;
}

.cards-img{
    border-radius: 50%;
}

.card-text-1{
    width: 70%;
}