@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,500&display=swap');

.main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.principal{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-container{
    width: 50%;
    height: auto;
    min-width: 310px;
    max-height: 500px;
    position: relative;
}

.principal > .img-container:nth-child(1){
    background-color: rgb(16,130,140,0.6);
}

.principal > .img-container:nth-child(2){
    background-color: #F8F5E4;
    background-color: rgb(16,130,140,0.4);
}

.link-buttons{
    color: #fff;
    text-decoration: none;
}

.btn-1-principal{
    width: 180px;
    padding: 12px 20px;
    border: none;
    font-size: 20px;
    border-radius: 30px;
    color: #fff;
    background-color: rgb(0,0,0,0.7);
    position: absolute;
    right: 45%;
    top: 50%;
}

.btn-1-principal:hover{
    background-color: rgb(157,39,186,0.7);
    color: #FFD700;
    transform: scale(1.2);
    border: none;
}

.btn-2-principal{
    width: 180px;
    padding: 12px 20px;
    border: none;
    font-size: 20px;
    border-radius: 30px;
    color: #fff;
    background-color: rgb(0,0,0,0.7);
    position: absolute;
    left: 50%;
    top: 50%;
}

.btn-2-principal:hover{
    background-color: rgb(157,39,186,0.7);
    color: #FFD700;
    transform: scale(1.2);
    border: none;
}

.img-container img{
    width: 100%;
    height: 100%;
}

.content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-left, .content-rigth{
    width: 50%;
    height: 300px;
    min-width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.content-title{
    width: 70%;
    margin: 0;
    font-size: 30px;
    padding: 15px 0;
    color: #9D27BA;
    font-weight: bolder;
    text-transform: uppercase;
}

.content-title-1{
    background-color: rgb(16,130,140,0.6);
}

.content-title-2{
    background-color: rgb(16,130,140,0.4);
}

.content-text{
    width: 60%;
    margin: 0;
    height: 200px;
    font-size: 20px;
    color: #FFF;
    /* font-weight: bolder; */
    font-weight: 500;
    font-style: italic;
    color: #eee;
}

.home-about-us{
    width: 100%;
    height: auto;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title{
    font-size: 36px;
    text-align: center;
    line-height: 1.2;
    color: #9D27BA;
}

.about-text{
    font-size: 18px;
    line-height: 1.2;
    text-align: start;
    width: 80%;
    padding: 10px 0;
}

.testimonials{
    width: 80%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: start;
    background-color: #FFF;
}

/*  diferenciales content   */

.home-diferenciales{
    width:40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
}

.diferenciales-title{
    font-size: 36px;
    text-align: center;
    line-height: 1.2;
    color: #9D27BA;
    margin-bottom: 20px;
}

.home-list-1{
    width: 80%;
    height: auto;
    /*display: flex;
    align-items: center;
    justify-content: space-around;*/
}

.diferenciales-list{
    text-align: start;
}

.diferenciales-item{
    font-size: 18px;
    line-height: 1.2;
    text-align: start;
    width: 90%;
    padding: 10px 0;
}

/*  end diferenciales item  */

.testimonials h2{
    color: #9D27BA;
    text-align: center;
    margin: 10px 0;
    font-size: 30px;
    font-weight: bolder;
}

.testimonials p{
    color: #000;
    text-align: center;
    font-size: 44px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.card-containers{
    width: 550px;
    height: 600px;
    /*display: flex;
    flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;
    position: relative;
    overflow: hidden;*/
    
}

.card-carrousels{
    display: flex;
    justify-content: space-around;
    
    /*flex-wrap: wrap;*/
    /*  completar una logica parecida  */
    /*transition: 2s;*/
}

.movements{
    display: flex;
    justify-content: center;
}

.testimonials .cards{
    width: 500px;
    height: 600px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #10828C;
    filter: drop-shadow(8px  8px 6px #0f0f0f);
}

.testimonials .cards p{
    color: #fff;
    font-size: 18px;
    
}

.testimonials .cards .card-star{
    color: #FFD700;
    font-size: 24px;
}

.cards-img{
    border-radius: 50%;
}

.card-text-1{
    width: 70%;
}

.home-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.home-contacto h2{
    text-align: center;
    font-size: 36px;
    color: #9D27BA;
    margin-bottom: 20px;
}

.contact-container p{
    text-align: start;
    font-size: 18px;
    line-height: 1.2;
    padding: 10px 0;
}

.contact-wrapper{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-header-menu {
    display: none;
}

@media screen and (max-width:760px) {
    .testimonials {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .testimonials-home-container {
        max-width: 100%;
    }
    
    .card-containers {
        width: 100%;
    }

    .card-carrousels {
        width: 90%;
        margin: 0 auto;
    }
    .home-contacto {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .contact-wrapper {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .map-container {
        max-width: 100%;
    }
    .iframe-map {
        max-width: 100%;
    }
    .content-left,
    .content-rigth {
        text-align: center;
        width: 100%;
        height: auto;
    }
    .content-text {
        width: 90%;
        height: auto;
    }
}