.social-company {
    min-width: 20rem;
    min-height: 13rem;
    border-radius: 12px;
    margin-right: 1rem;
    background: #ecf1f4;
    display: flex;
    justify-content: center;
}

.social-nav-company {
    width: 100%;
}

.social-company_list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}