
.main-company {
    min-width: 52rem;
    min-height: 10rem;
    height: 10rem;
    border-radius: 12px;
    margin-left: 1rem;
    background: #F8F5E4;
}

.main-company_description {
    word-wrap: break-word;
}

@media screen and (max-width: 760px) {
    .main-company {
        min-width: 95%;
        margin: 0;
    }
}